/*  your css code here. If applicable */
.hero{
	
	display:flex;
	justify-content:space-between;
	border:2px solid black;
	align-item:center:
	
}
div>img{
	width:100%;
	height:100%;
	object-fit:cover;
}
.sec2>button{
	background-color:red;
	align-item:center;
}
	